.container {
  text-align: center;
  margin-top: 3rem;
}

.buttonquiz {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: var(--ifm-quiz-button-background);
  height: 48px;
}

.buttonquiz:hover {
  background-color: #1db954;
}

.buttonquizclicked {
  background-color: #1db954c9;
}
/* .button {
    display: inline-block;
    font-size: large;
    position: relative;
    text-decoration: none;
    padding: 6px 6rem 6px 6rem !important;
    font-weight: 600;
    background-color: var(--ifm-quiz-button-background);
    color: var(--ifm-font-base-color);
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    cursor: pointer;
    min-width: 86px;
    border: 1px solid transparent;
    text-align: center;
  }
  
  .button:hover {
    color: white !important;
    text-decoration: none;
    background: var(--ifm-button-hover);
  }
  
  html[data-theme="dark"] .button__outline {
    border-color: var(--blue-300);
    color: var(--blue-300);
  }
  
  
  
  .button__outline {
    color: var(--blue-600);
    border-color: var(--blue-600);
    background: none;
  }
  
  .button__outline:hover {
    color: var(--blue-900) !important;
    border-color: var(--blue-300);
    background: var(--blue-300);
  }
  
  html[data-theme="dark"] .button__outline:hover {
    border-color: var(--blue-400);
    color: var(--blue-800);
    background: var(--blue-400);
  } */
